.rd-loader {
background-image: url("https://raw.githubusercontent.com/FiskDk/disco-rd-client/master/disco-rd.png");
}
.rd-loader {
  position: fixed;
  bottom:5px;
  right:5px;
  z-index: 2147483647;
  display: block;
  width: 20px;
  height: 20px;
  background-size: 100% 100%;
  animation: rd-loader-animation 1.5s ease-in-out infinite;
}

@keyframes rd-loader-animation {
  0% { opacity: 0.05; }
  50% { opacity: 0.6; }
  100% { opacity: 0.05; }
}