<main class="contentColumn-2hrIYH contentColumnDefault-1VQkGM">
    <main class="contentColumn-2hrIYH contentColumnDefault-1VQkGM">
        <div>
            <h2
                class="colorStandard-2KCXvj size14-e6ZScH h2-2gWE-o title-3sZWYQ defaultColor-1_ajX0 defaultMarginh2-2LTaUL">
                Disco-RD Settings</h2>
            <div class="children-rWhLdy">
                <h5 class="colorStandard-2KCXvj size14-e6ZScH h5-18_1nd title-3sZWYQ defaultMarginh5-2mL-bP">Change
                    Disco-RD settings here, remember to save!</h5>
                <form>
                    <div class="flex-1xMQg5 flex-1O1GKY horizontal-1ae9ci horizontal-2EEEnY flex-1O1GKY directionRow-3v3tfG justifyStart-2NDFzi alignStretch-DpGPf3 noWrap-3jynv6"
                        style="flex: 1 1 auto;">
                        <div class="inputWrapper-31_8H8 codeRedemptionInput-3JOJea"><textarea
                                class="inputDefault-_djjkz input-cIJ7To" type="text"
                                placeholder="WUMP-AAAAA-BBBBB-CCCCC" name="" maxlength="999"
                                style="height: 187px; margin: 0px; width: 462px;" multiline:true="" multiline="true"
                                id="rdSettingsInput"></textarea></div><button type="button"
                            class="button-38aScr lookFilled-1Gx00P colorBrand-3pXr91 sizeMedium-1AC_Sl grow-q77ONN">
                            <div class="contents-18-Yxp" id="rdSaveBtn">Save</div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="divider-3573oO divider-1Jfi9s"></div>
        <div>
            <h2
                class="colorStandard-2KCXvj size14-e6ZScH h2-2gWE-o title-3sZWYQ defaultColor-1_ajX0 defaultMarginh2-2LTaUL">
                Themes</h2>
            <div class="children-rWhLdy">
                <h5 class="colorStandard-2KCXvj size14-e6ZScH h5-18_1nd title-3sZWYQ defaultMarginh5-2mL-bP">Enable,
                    Disable, or install themes for Disco-RD</h5>
                <form>
                    <div class="flex-1xMQg5 flex-1O1GKY horizontal-1ae9ci horizontal-2EEEnY flex-1O1GKY directionRow-3v3tfG justifyStart-2NDFzi alignStretch-DpGPf3 noWrap-3jynv6"
                        style="flex: 1 1 auto;">
                        <div class="inputWrapper-31_8H8 codeRedemptionInput-3JOJea"><input
                                class="inputDefault-_djjkz input-cIJ7To" type="text" placeholder="URL to CSS file"
                                name="" maxlength="999" style=" margin: 0px; width: 462px;" multiline:true=""
                                multiline="false" id="installThemeURL"></div><button type="button"
                            class="button-38aScr lookFilled-1Gx00P colorBrand-3pXr91 sizeMedium-1AC_Sl grow-q77ONN"
                            id="installThemeBtn">
                            <div class="contents-18-Yxp">Install</div>
                        </button>
                    </div>
                </form>
            </div>
            <div>
                <div class="children-rWhLdy">
                    <h5 class="colorStandard-2KCXvj size14-e6ZScH h5-18_1nd title-3sZWYQ defaultMarginh5-2mL-bP"
                        style=" padding-top: 8px; ">Installed themes</h5>
                    <form>
                        <div class="flex-1xMQg5 flex-1O1GKY horizontal-1ae9ci horizontal-2EEEnY flex-1O1GKY directionRow-3v3tfG justifyStart-2NDFzi alignStretch-DpGPf3 noWrap-3jynv6"
                            style="flex: 1 1 auto;">
                            <div class="inputWrapper-31_8H8 codeRedemptionInput-3JOJea">
                                <ul id="myThemesList"> </ul>
                            </div><button type="button"
                                class="button-38aScr lookFilled-1Gx00P colorBrand-3pXr91 sizeMedium-1AC_Sl grow-q77ONN">
                                <div class="contents-18-Yxp" id="reloadThemesBtn">Reload</div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</main>